<style type="text/css" media="screen">
	a {color: black;}
</style>

kenneth-reitz(1) -- passionate web architect + developer
==============================================

## SYNOPSIS

Hi, I'm Kenneth Reitz. I'm a passionate well-rounded developer. I spend my day developing for Clutch Inc., an internet consulting firm in Winchester, VA. I spend my nights hacking away at everything I can possibly get my hands on (after I'm done working on my client work). Simply put, I try to make the internet a better place. 

I'm the co-founder and senior engineer of ZümHosting. I write PHP + Python articles for TheChangelog.com. I write Python video courses that are pirated everywhere. I report on open source news for Internet.com. I use serial commas and will until the day I die. 


## STUFF I WORK WITH
Python, PHP, XHTML + CSS + JS, Bourne, Groovy, C#, ColdFusion, Java, Scheme, and Pascal.

jQuery, Prototype, ExtJS, WordPress, CodeIgniter, Redmine, Drupal, Joomla, Django, Pylons, Jeckyll, Octopress, Compass, SharePoint 2007, Grails, Capistrano, and Fiber. 

## TOOLKIT
OS X 10.6, 13" MacBook Pro (2.53GHz, 4.0GB, 500GB 7200), Google Chrome (dev), Things.app, Ulysses Core, Launchbar, Git + GitHub, Gist, Ubuntu JeOS, Zsh, Redmine, Curdbee, Linode, Cinch, Spotify, Tweetie, Amazon S3, MediaTemple, and ZümHosting. 

## OPEN SOURCE PROJECTS

[USAJobs.gov Scraper](http://github.com/kennethreitz/usajobs-scraper), [mdWiki](http://github.com/kennethreitz/mdWiki), [PHP SWF Upload + Notify](http://github.com/kennethreitz/php-swfuploader-notify), [glee](http://github.com/kennethreitz/glee), and [open-icons](http://github.com/kennethreitz/open-icons).

### TextMate Add-ons
[kHTML Bundle](http://github.com/kennethreitz/kHTML.tmbundle),
[kCSS Bundle](http://github.com/kennethreitz/kCSS.tmbundle),
[kPHP Bundle](http://github.com/kennethreitz/kPHP.tmbundle),
[HTML5 Bundle](http://github.com/kennethreitz/html5.tmbundle),
[VibrantFin Theme](http://github.com/kennethreitz/vibrant-fin-textmate-theme), and
[LoremIpsum2 Bundle](http://github.com/kennethreitz/loremipsum-2-textmate-bundle).


### WordPress Add-ons

[WordPress Skeleton](http://github.com/kennethreitz/wordpress-skeleton),
[WordPress Theme Skeleton](http://github.com/kennethreitz/wordpress-theme-skeleton),
[Coreylib](http://github.com/kennethreitz/wp-coreylib),
[Async Google Analytics](http://github.com/kennethreitz/wp-async-google-analytics),
[Disable Updates](http://github.com/kennethreitz/wp-disable-updates),
[Draft Notify](http://github.com/kennethreitz/wp-draft-notify),
[WP-Clippy](http://github.com/kennethreitz/wp-clippy), and
[WP-Clippy + Syntax](http://github.com/kennethreitz/wp-clippy-syntax).


### Useless/old WordPress Add-ons

[Monolithic Theme](http://github.com/kennethreitz/monolithic-wordpress-theme),
[WP-Snowstorm](http://github.com/kennethreitz/wp-snowstorm),
[WP-jQuery-Tools](http://github.com/kennethreitz/wp-jquery-tools),
[WP-Google-OpenID](http://github.com/kennethreitz/wp-google-openid), and
[WP-Google-Chrome-Frame](http://github.com/kennethreitz/wp-google-chrome-frame).

### 

### TOP SECRET (In Development)
Handy, Pytake,  (dv)->S3.py


## CONTACT INFORMATION

Email: <me@kennethreitz.com>  
Phone: +1.540.200.8536 


## SEE ALSO

<http://kennethreitz.com>, <http://github.com/kennethreitz>