kenneth-reitz(1) -- passionate web architect and developer
==============================================

## SYNOPSIS

Hi, I'm Kenneth Reitz. I Code. 

## PROJECTS

### TEXTMATE


### WordPress

#### WordPress Skeleton

#### WordPress Theme Skeleton






## CONTACT INFORMATION

Email: <me@kennethreitz.com>  
Phone: +1.540.200.8536 


## SEE ALSO

<http://kennethreitz.com>, <http://github.com/kennethreitz>